body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width:100%;
  height: 100%;
  padding: 2%;
  overflow: hidden;
  background: #222;
  //display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  // start make text unselectable
  // https://stackoverflow.com/questions/43393046/disable-text-selection-on-nested-span-react-electron
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  // end make text unselectable
}

.wrapper {
    position: relative;
}

.right,
.left {
    position: absolute;
}

.right {
    width: 70%;
    right: 0;
}

.left {
    width: 30%;
    left: 0;
    /*height: 500px;*/
    height: 90vh;
    overflow-y: scroll;
}

.folder span {
    padding-right: 3%;
    padding-left: 2%;
}

.file span {
    padding-right: 3%;
    padding-left: 2%;
}

.folder-color {
    color: #697891;
}

.file-color {
    color: #85888c;
}

.highlighted {
    background-color: orange;
}

.sub-folder{
    padding-left: 5%;
}